* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;}

  #body{
    vertical-align: bottom;
  }

/*ヘッター*/

a {
    text-decoration: none;
    color: inherit;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    color:gray;
  }
  .header-ttl {
    font-size: 24px;
    width: 80px;
  }
  .header-nav-list {
    display: flex;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .header-nav-item:not(:last-child) {
    margin-right: 30px;
  }

  img.logo{
    width: 10%;
    height: 50%;
  }


/*メイン*/

  .relative {
    position: relative;
  }
  
  .relative__img {
    margin: 0 0 0 auto;
    display: block;
    width: 50%;
  }
  
  .absolute1{
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 80px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:magenta;
    
  }

  .p{
    position: absolute;
    top: 10%;
    left: 20%;
  }

  .absolute2{
    position: absolute;
    top: 60%;
    left: 20%;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:magenta;
    }

  span {
    color: teal;
  }

  .absolute3{
    position: absolute;
    top: 70%;
    left: 20%;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:slategrey;
    }

/*news*/

.news{
  width:65%;
  height: 100%;
  
  border-bottom: solid 1px grey;
  margin: 5% auto;
 }

 .newss{
   position:absoluto;
   width: 100%;
   
 }

.newstitle1{
  margin-bottom: 3%;
  text-align: left;
  color:magenta;
}

  .newstitle2{
    text-align: left;
    margin-bottom: 5%;
    font-size: 20px;
    
    border-bottom: solid 1px grey;
    }

  



     .news2{
     
       float:left;
       padding:5px 50px;

       
     }

     dd{
      border-bottom:1px solid #ccc;
       margin-left:10px;
       padding:12px 0;
     }

     .a1{
       background-color: indigo;
       border-radius:50px;
       color:#fff;
       margin:0 20px;
       padding:2px 20px;
       text-decoration:none;
     }


/*about*/

.about{
  margin-top: 5%;
  
 
  
}



.abouttitle1{
  margin-bottom: 1%;
  text-align: center;
  color:magenta;
  
}

.abouttitle2
{text-align: center;
    font-size: 20px;
    margin-bottom: 5%;

}


img.about_picture { 
  vertical-align: middle; 
  margin-right: 8%;
  width: 30%;
  height: 30%;
  
  
  }

.about_a{
  
  font-size: 20px;
  margin-right: 20%;
  margin-left: 10%;
  color: whitesmoke;
}

.about_b{
  margin-top: 5%;
  font-size: 20px;
  margin-right: 20%;
  margin-left: 10%;
  color: whitesmoke;
}

.about_back{
    border:1px solid #e5e5e5;
    padding-top: 40px;
    padding-bottom: 200px;
  
    background-color:lightgray;
     
    font-size: 16px;
    
}




/*service*/

.service{
  margin: 5%;

}

.servicetitle1{
  
  color:magenta;
}

.servicetitle2
{margin-top: 3%;
font-size: 20px;
margin-bottom: 3%;

}


.meeting{ 
  
 display: flex;

}

.meeting_right{
    width:  50%;
    float: left;
    height: 50%;
    
}

.meeting_left{
  width:  50%;
  
  background-color:deeppink;
  
}



  .meeting2{
    background-color:mediumvioletred;
    height: 50%;
    width: 100%;
    display: flex;
    }

    .meeting3{
      background-color:orchid;
      height: 50%;
      width: 100%;
      display: flex;
      }

.meeting1 img{
  width: 30%;
  margin-left: 30%;
 
}

.meeting2 img{
  width: 30%;
  float: left;
 
}

.meeting3 img{
  width: 30%;
}

.example1{
 color: #fff;
 font-size: 20px;
 margin: 5%;
 
}

.example2{
 color: #fff;
 font-size: 20px;
 width: 100%;
 
 
}

.meetinga1 h3{
  margin-left: 40%;
}

.meetinga1 p{
  padding-left:20%;
  line-height: 3rem;
  
  
}

.meetingb1 p{
  margin-left: 5%;
  margin-bottom: 20%;
  margin-top: 5%;
  line-height: 3rem;
}

/*blog*/

.blog{
 
 
}


.blogtitle1{
  
  margin-left: 10%;
  color:magenta;
}

.blogtitle2
{margin-left: 10%;
    font-size: 20px;
  margin-top: 2%;
    margin-bottom: 5%;

}




.practice__card {
  width: 30%;
 
}

.card__img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card__content {
  
  position: relative;
  background-color:white ;
}

.card__ttl {
  font-size: 20px;
  padding: 8% ;
  color: #888888;
  letter-spacing:2px;
  line-height: 3rem;
}

.card__cat {
  padding: 10px 10px;
  background-color:deeppink ;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  border-radius: 10px 0 0 0;
  z-index: 1;
  position: absolute;
  padding: left 0;;

}

.tag {
  font-size: 14px;
  text-align: right;
  
    padding: 8%;
  
}

.card__tag {
  display: inline-block;
  left: 5%;
  position: absolute;
}

.card__date {
  display: inline-block;
 
  color: #888888;
}

.flex__item {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  
  
}

/*bottom*/

.buttom{
  position: relative;
}


.btn-circle-border-simple {
  margin: 5% 50%;
  width:100px;
  font-size:12px;
  color:deeppink;
  text-align:center;
  display:block; 
  padding:10px  10px 10px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  border: 2px solid deeppink;
}


/*company*/

.company{
  position: relative;
  margin-bottom: 5% ;
}

.company_table{
  margin-right: auto;
  margin-left: auto;
}

.companytitle1{
  margin-top: 10%;
  margin-left: 20%;
  color:magenta;
}

.companytitle2
{margin-left: 20%;
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 5%;

}

table {
  width: 60%;
  margin-left: 25%;
  margin-right: 30%;

}
table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}
table th {
  font-weight: bold;
  background-color: #dedede;
}

/*contact*/

.yokonarabi{/*親div*/
  display:flex;

position: relative;
width: 50%;
  }

.yokonarabi>div{
  
  }


  
 .saiyou {
  color: white;/*文字は白に*/
  top: 50%;
  font-size: 25px;
  position: absolute;
  margin-left: 17%;
  }

  .syain {
    color: white;/*文字は白に*/
    top: 50%;
    font-size: 25px;
    position: absolute;
    margin-left: 16%;
    }


  

    /*フッター*/

    *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}



.toiawase{
  margin: 3% 0%;
  text-align:center;
}



.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  
}

a.btn-gradient {
  
  font-weight: normal;

  color: #fff;
  border-radius: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(40%, #ff3cac),
    to(#562b7c)
  );
  background-image: -webkit-linear-gradient(left, #ff3cac 40%, #562b7c 100%);
  background-image: linear-gradient(90deg, #ff3cac 40%, #562b7c 100%);
    border-radius: 100vh;
  }
}

a.btn-gradient:after {
  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff3cac),
    color-stop(#562b7c),
    to(#2b86c5)
  );

  background-image: -webkit-linear-gradient(left, #ff3cac, #562b7c, #2b86c5);

  background-image: linear-gradient(90deg, #ff3cac, #562b7c, #2b86c5);
}


a.btn-gradient span {
 
  z-index: 1;
}

a.btn-gradient:hover {
  color: #fff;
}

a.btn-gradient:hover:after {
  opacity: 0;
}

.form{
  margin-bottom: 4%;
  left: 5% ;
  font-size: 60%;
  
}

.Copyright{
  width: 100%;
  text-align: center;
  font-size: 20px;
  height: 10%;
  
  color: #888888;
  background-color: #dedede;
  margin-bottom: 5%;
}



.v_line_fix {
  margin:0% 50%;
  width: 3px;
  height: 50px;
  margin-bottom: 3%;
  background-color: magenta;
}

.css-mail{
  
    display: inline-block;
  
    position: relative;
  
    width: 20px;
  
    height: 16px;
  
    margin: 0 10px 0 0;
  
    padding: 0;
  
    background: palevioletred;
  
  }
  
  .css-mail:before, .css-mail:after{
  
    display: block;
  
    content: "";
  
    position: absolute;
  
    top: 0;
  
    left: 0;
  
    width: 0;
  
    height: 0;
  
  }
  
  .css-mail:before{
  
    border: 10px solid transparent;
  
    border-top-color: #fff;
  
  }
  
  .css-mail:after{
  
    left: 2px;
  
    border: 8px solid transparent;
  
    border-top-color: palevioletred;
  
  }
  